<div id="nav">
    <ul>
        <li><a href="/register">Registration</a></li>
        <li><a href="/profile">Additional Information</a></li>        
        <li><a href="/petition">Sign</a></li>
        <li><a href="/petition/thanks">Your Signature</a></li>
        <li><a href="/petition/signers">All Signers</a></li>
        <li><a href="/profile/edit">Edit Profile</a></li>
        <li><a href="/login">Login</a></li>                                   
    </ul>
</div>