<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>
    {{> nav}}
    <body>
        <header></header>
        <section>
        {{{body}}}
        </section>
        <footer><div class="footer-content">© Philipp Specht</div></footer>
        <script type="text/javascript" src="/index.js"></script>
    </body>
</html>