<h1>Here you have the possibility to log out.</h1>
<form id="formLogout" method="POST">
    <input name="_csrf" value="{{ csrfToken }}" type="hidden"></input>
    <button type="submit" name="logoutButton">Log out</button>
</form>