<h1>Thank you for your great support!</h1>
<div id="signature"><img src="{{signatureReq}}"></div>
<a href="/petition/signers">See all signers</a>
<form id="formDelete" method="POST">
    <div class="delete">
        <input name="_csrf" value="{{ csrfToken }}" type="hidden"></input>
        <button>Delete the signature</button>
    </div>
</form>
